*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

input{
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #5aa5d1;
    outline: none;
}

a{
  color: aquamarine;
    text-decoration: none;
    font-weight: bold;
}

button{
    padding: 10px;
    background-color: #5aa5d1;
    border: unset;
    cursor: pointer;
}


